
@import url('https://fonts.googleapis.com/css?family=Space+Mono:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Syncopate:700&display=swap');


/*

Así se escriben los comentario en CSS.
Siempre se abren con slash asterisco, y
se cierran con asterisco slash.

*/

*{
    margin:0;
    padding:0;
}

body{
    font-family:'Roboto', sans-serif;
    font-weight:400;
    color:#373737;
    background-color:#000; /*el primer par es R, segundo es G y tercero es B*/
}

h1, h2{
  font-family: 'Syncopate', sans-serif;
    color:#fff; /* lo básico, para evitar problemas */
    color:#fff; /* si el navegador lo entiende, lo usa */
    text-align:center;
    letter-spacing:0.1em;
    font-weight:700;
}

h1{
    font-size:3rem;
}

h2{
    font-size:2rem;
    letter-spacing:0.1em;
}

@media screen and (max-width: 768px){
    h1{ font-size:2.25rem; }
    h2{ font-size:1.5rem; }
}

@media screen and (max-width: 576px){
    h1{ font-size:1.5rem; }
    h2{ font-size:1rem; }
}

h3{
    display:none;
}

h5, h6{
    font-weight:700;
}

a{
    color:rgb(155,0,0);
    text-decoration:none;
}

a:hover{
    color:#000;
    text-decoration:underline;
}

header{
    width:100%;
    top:20%;
    position: absolute;
    text-align:center;
    z-index:9;
}

@media screen and (orientation: portrait){
    header{ top:12%; }
}

video{
    width:98%;
    padding:1% 1% .75% 1%;
    height:auto;
}

main{
    width:100%;
}

/*
Puedes revisar detalles sobre el siguiente uso de flex
en https://www.taniarascia.com/easiest-flex-grid-ever/
*/

#equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:#000 /* lo mismo que #FFFFFF, simplificando pares iguales*/;
    color:#000;
}

#equipo a{
    color:#000;
}

#equipo a:hover{
    color:#000;
}

.integrante {
    flex-basis: 100%;
}

.integrante:hover {
    cursor:crosshair;
}

@media screen and (orientation: landscape){
    .integrante { flex:1; }
}

.integrante h4{
    padding: 2rem 2rem 0.25rem 2rem;
}

.integrante address{
    padding: 0.25rem 2rem;
    font-size:0.9em;
    font-style:normal;
}

.integrante blockquote{
    padding: 6rem 2rem 2rem 2rem;
}

@media screen and (orientation: landscape){
    .integrante blockquote{
        padding: 6rem 2rem 2rem 2rem;
        max-width:50%;
    }
}

.integrante blockquote cite {
    display:block;
    font-style: normal;
    font-weight: 700;
    font-size:.8rem;
    letter-spacing : 0.1rem;
    padding-top:0.25rem;
    color:#000;
}

.integrante blockquote cite:before {
    content:"— ";
}

.integrante:nth-of-type(1){
    background-color:#f7a40c;
    background-image:url('media/siluetaluciano.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}


.integrante:nth-of-type(2){
    background:#f7a40c;
    background-image:url('media/siluetatom.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(3){
    background:#f7a40c;
    background-image:url('media/siluetafran.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(1):hover{
    background-color:#f7d917;
    background-image:url('media/Luciano blue.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(2):hover{
    background:#f7d917;
    background-image:url('media/tom blue.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(3):hover{
    background:#f7d917;
    background-image:url('media/fran blue.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

/*

AHORA VAMOS POR PORTAFOLIO

*/

#portafolio{
    width:100%;
    padding:.50% 0;
    background:linear-gradient(to bottom, #000, #cf2756);
}

.item {
    width:31%;
    margin:1%;
    color:#FFF; /* COLOR LETRAS*/
    background:#37747a;/* COLOR CUADROS TEXTO PORTAFOLIOS*/
    box-shadow:0 0 5px rgba(0,0,0,.5);
}

@media screen and (max-width: 768px){
    .item{
        width:48%;
        margin:1%;
        background:#333;
        color:#eee;
    }
}
 @media screen and (max-width: 576px){
     .item{
         width:96%;
         margin:2%;
         background:#000;
         color:#FFF;
    }
}
 @media screen and (max-width: 600px){
     .item{
         width:96%;
         margin:2%;
         background:#000;
         color:#FFF;
    }
 .item:hover{
     cursor:crosshair;
}
 .item figure{
     overflow:hidden;
}
 .item figure img{
     width:100%;
     height:auto;
     margin-bottom:-4px;
     filter: grayscale(1);
}
 .item:hover figure img{

     filter: grayscale(0);

}
 .item h4{
     font-size:1em;
     letter-spacing:0.025em;
     margin:5% 5% 3% 5%;
}
 .item p{
     font-size:0.875em;
     letter-spacing:0.05em;
     margin:2% 5% 6% 5%;
}
 footer{
     width:100%;
     padding:2.5em 0 2em 0;
     text-align:center;
}
 footer p{
     text-transform:uppercase;
     letter-spacing:0.1em;
     font-size:0.9em;
}

.vermas a{
  color:#f7d917; }

